@import 'node_modules/bulma/sass/utilities/initial-variables';

/* Colors */
$primary: #FFC600;
$white: #ffffff;
$success: #13bf7c;
$warning: #ffa621;
$grey-lighter: #c0c0cc;
$link: #00ADBB;
$info: #323E48;
$dark: #010101;
$danger: #ed3232;
$light: #F7F7F8;

$input-background-color: #F7F7F8;

$box-padding: 0rem;
$box-radius: 14px;

$navbar-height: 5rem